{% extends "WHCmsBundle:Backend:main.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block meta_title %} {{ parent() }} : {{ organisation.page.name }} {% endblock %}

{% block ariane %}

    {{ parent() }}

    <li>Edition d'une page contact</li>

{% endblock %}

{% block subtitle %}Edition d'une page contact{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">

        <div class="col-md-8">

            <div class="form-group form-group-lg">
                {{ form_widget(form.page.name) }}
            </div>

            <small>

                <ol class="breadcrumb">
                    {% for page in path %}
                        <li>
                            <a href="{{ path('wh_admin_cms_page_update', {'page' : page.id}) }}">{{ page.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <input type="text" id="wh_cmsbundle_page_slugReplace" name="wh_cmsbundle_page[slugReplace]"
                               placeholder="modifier l’url" class="input-small"
                               value="{{ form.page.slugReplace.vars.data }}">
                    </li>
                </ol>

            </small>

            <div class="jarviswidget jarviswidget-color-blueDark">

                <header>

                    <ul class="nav nav-tabs pull-left in">
                        <li class="active">
                            <a data-toggle="tab" href="#folioPage"><i class="fa fa-file-o"></i> Edition d'une page
                                contact</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#folioCoordonnees"><i class="fa fa-building"></i> Coordonnées</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#folioSeo"><i class="fa  fa-arrow-circle-o-up"></i> Seo</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#folioTechnique"><i class="fa  fa-cog"></i> Techniques</a>
                        </li>
                    </ul>

                    <div class="widget-toolbar">
                        <a href="{{ path('wh_front_cms_page', {'url' : organisation.page.url}) }}" target="_blank"
                           class="btn btn-success btn-xs"><i class="fa fa-eye"></i> Voir la page</a>
                    </div>

                </header>

                <div>

                    <div class="widget-body">

                        <div class="tab-content">

                            <div class="tab-pane active" id="folioPage">

                                <fieldset>

                                    <legend>Entête</legend>

                                    {{ form_row(form.page.title) }}
                                    {{ form_row(form.page.body) }}

                                </fieldset>

                                <fieldset>

                                    <legend>
                                        <a href="#" class="btn btn-success btn-xs pull-right" id="btnAddBlocForm"><i
                                                    class="fa fa-plus"> Ajouter</i></a>
                                        Blocs
                                    </legend>

                                    <div data-prototype="{% filter escape %}{{ include('WHCmsBundle:Backend:Bloc/page.html.twig', { 'form': form.page.pageBlocs.vars.prototype }) }}{% endfilter %}"
                                         id="blocsForm">

                                        {% for bloc in form.page.pageBlocs %}
                                            {{ include('WHCmsBundle:Backend:Bloc/page.html.twig', { 'form': bloc }) }}
                                        {% endfor %}
                                        {% do form.page.pageBlocs.setRendered %}

                                    </div>

                                </fieldset>

                            </div>

                            <div class="tab-pane" id="folioCoordonnees">

                                <fieldset>

                                    <legend>Adresse</legend>

                                    <div class="row">
                                        <div class="col-md-6">{{ form_row(form.adress) }}</div>
                                        <div class="col-md-6">{{ form_row(form.adressCplt) }}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">{{ form_row(form.zipCode) }}</div>
                                        <div class="col-md-6">{{ form_row(form.town) }}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">{{ form_row(form.iframeGoogleMap) }}</div>
                                    </div>

                                    <legend>Coordonnées</legend>

                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.mobile) }}</div>
                                        <div class="col-md-4">{{ form_row(form.phone) }}</div>
                                        <div class="col-md-4">{{ form_row(form.email) }}</div>
                                    </div>

                                    <legend>Entreprise</legend>

                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.civility) }}</div>
                                        <div class="col-md-4">{{ form_row(form.firstname) }}</div>
                                        <div class="col-md-4">{{ form_row(form.lastname) }}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.LegalForm) }}</div>
                                        <div class="col-md-4">{{ form_row(form.socialReason) }}</div>
                                        <div class="col-md-4">{{ form_row(form.code_ape) }}</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.tva_number) }}</div>
                                        <div class="col-md-4">{{ form_row(form.siret_number) }}</div>
                                        <div class="col-md-4">{{ form_row(form.siren_number) }}</div>
                                    </div>

                                </fieldset>

                            </div>

                            <div class="tab-pane" id="folioSeo">

                                {{ include('WHCmsBundle:Backend:Seo/form.html.twig', { 'form': form.page.Seo }) }}

                            </div>

                            <div class="tab-pane" id="folioTechnique">

                                <div class="row">
                                    <div class="col-md-6">{{ form_row(form.page.slugTechnique) }}</div>
                                    <div class="col-md-6">
                                        <label>Slug : </label>
                                        <input type="text" disabled="disabled" class="form-control"
                                               value="{{ organisation.page.slug }}">
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-4">

            {{ Smart.openBox('fa-save', 'Publication') }}

            <div class="widget-body">

                {{ form_row(form.page.template) }}
                {{ form_row(form.page.parent) }}
                {{ form_row(form.page.Menus) }}
                {{ form_row(form.page.resume) }}
                {% block side_barre %}{% endblock %}
                <hr/>
                {{ form_row(form.page.status) }}
                {{ form_row(form.default) }}

                <div class="form-actions">

                    <div class="row">
                        <div class="col-md-12">

                            {{ form_widget(form.page.save_and_back) }}

                            {{ form_widget(form.page.save_and_stay) }}

                        </div>
                    </div>

                </div>

            </div>

            {{ Smart.closeBox() }}

            {{ Smart.openBox('fa-list', 'Vignette') }}

            <div class="widget-body">

                {{ include('WHCmsBundle:Backend:Media/image-form.html.twig', { 'form': form.page.thumb }) }}

            </div>

            {{ Smart.closeBox() }}

        </div>

    </div>

    {% do form.page.slugReplace.setRendered %}

    {{ form_end(form) }}

{% endblock %}


{% block javascript %}

    {{ parent() }}
    {{ elfinder_tinymce_init4('tinycme') }}
    {{ tinymce_init() }}
    {{ form_javascript(form) }}
    {{ Smart.addEl('#blocsForm', '#btnAddBlocForm') }}

{% endblock %}
