<div class="row">
    <div class="col-md-6">{{ form_row(form.title) }}</div>
    <div class="col-md-6">{{ form_row(form.alt) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.description) }}</div>
    <div class="col-md-6">{{ form_row(form.keywords) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.linkCanonical) }}</div>
    <div class="col-md-6">{{ form_row(form.priority) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.robots) }}</div>
    <div class="col-md-6">{{ form_row(form.changefreq) }}</div>
</div>
