<tr>
    <td>
        <a href="#" class="btn btn-danger btn-xs btn-delete"><i class="fa fa-trash-o"></i></a>
        {{ form_row(form.position) }}
    </td>
    <td>{{ form_row(form.url) }}</td>
    <td>
        {{ form_row(form.title) }}
        {{ form_row(form.alt) }}
        {{ form_row(form.description) }}
    </td>
</tr>

