<div class="padded">

    <div class="row">
        <div class="col-md-4">{{ form_row(form.Type) }}</div>
        <div class="col-md-4">{{ form_row(form.name) }}</div>
        <div class="col-md-4">{{ form_row(form.slug) }}</div>
    </div>
    {{ form_row(form.adminController) }}
    {{ form_row(form.controller) }}
    {{ form_row(form.tplt) }}
</div>
