<div class="padded">

    {{ form_row(form.Type) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.adminController) }}</div>
        <div class="col-md-4">{{ form_row(form.controller) }}</div>
        <div class="col-md-4">{{ form_row(form.tplt) }}</div>
    </div>

    {{ form_row(form.req) }}

</div>
