{% extends "WHCmsBundle:Backend:main.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block ariane %}{{ parent() }}<li><a href="{{ path('wh_admin_cms_blocs') }}">Galerie</a></li>{% endblock %}
{% block subtitle %}Templates{% endblock %}

{% block content %}

    <div class="container">

        {{ form_start(form, {'action': path('wh_admin_cms_bloc_update', {'Bloc' : Bloc.id}), 'method': 'POST'}) }}

            <div class="well">

                <h1>Gestion d'une galerie</h1>

                {% include('WHCmsBundle:Backend:Bloc/form.html.twig') %}

                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-check"></i> <span class="hidden-mobile">Enregistrer</span>
                        </button>
                    </div>
                </div>

            </div>

            {{ Smart.openTable(null, null, '<a href="#" class="btn btn-success" id="btnAddBlocForm">Nouveau</a>') }}

            <tbody data-prototype="{% filter escape %}{{ include('WHCmsBundle:Backend:Media/img-form-tr.html.twig', { 'form': form.files.vars.prototype }) }}{% endfilter %}" id="blocsForm">
            {% for file in form.files %}
                {{ include('WHCmsBundle:Backend:Media/img-form-tr.html.twig', { 'form': file }) }}
            {% endfor %}
            </tbody>
            {% do form.files.setRendered %}

            {{ Smart.closeTable() }}

        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascript %}

    {{ parent() }}
    {{ elfinder_tinymce_init4('tinycme') }}
    {{ tinymce_init() }}
    {{ form_javascript(form) }}
    {{ Smart.addEl('#blocsForm', '#btnAddBlocForm') }}


{% endblock %}
