{% extends "WHCmsBundle:Backend:main.html.twig" %}

{% block ariane %}{{ parent() }}<li>Blocs</li>{% endblock %}

{% block title_right %}
    <a href="{{ path('wh_admin_cms_bloc_create') }}" {{ Smart.modal() }} class="btn btn-lg btn-success pull-right" ><i class="fa fa-plus-square fa-lg"></i> Créer</a>
{% endblock %}

{% block subtitle %}> Liste{% endblock %}

{% block content %}
<div class="container">

    <div class="well">

        <h1>Gestion des blocs</h1>

    </div>

    {{ Smart.openTable('fa-list', 'List') }}

    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Slug</th>
        <th>Backend Controller</th>
        <th>Frontend Action</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>
    {% for entity in Blocs %}
        <tr class="">
            <td>
                <a href="{{ path('wh_admin_cms_bloc_update', { 'Bloc': entity.id }) }}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                <a href="{{ path('wh_admin_cms_bloc_delete', { 'Bloc': entity.id }) }}" class="btn btn-xs btn-danger" {{ Smart.confirm('Etes vous sûre ? ') }}><i class="fa fa-trash-o"></i></a>
            </td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.slug }}</td>
            <td>{{ entity.backendController }}</td>
            <td>{{ entity.frontendAction }}</td>
            <td>{{ entity.description }}</td>
        </tr>

    {% endfor %}
    </tbody>

    {{ Smart.closeTable() }}

</div>
{% endblock %}


{% block javascript %}

    {{ parent() }}

    {{ Smart.modalSuccess() }}

{% endblock %}