<div class="widget-body no-padding">
    <div class="widget-body-toolbar">

        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-8 text-align-right">
                <a class="btn btn-xs btn-danger btn-delete" href="#"><i class="fa fa-trash-o"></i></a>
            </div>

        </div>

    </div>

    <div class="padded">
        <div class="row">
            <div class="col-md-8">{{ form_row(form.title) }}</div>
            <div class="col-md-4">{{ form_row(form.bloc) }}</div>
        </div>
        <div class="row">
            <div class="col-md-8">{{ form_row(form.body) }}</div>
            <div class="col-md-4">{{ form_row(form.thumb) }}</div>
        </div>
        {{ form_row(form.position) }}
    </div>

</div>
