{% extends "WHCmsBundle:Backend:main.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block meta_title %} {{ parent() }} : {{ page.name }} {% endblock %}
{% block ariane %}{{ parent() }}<li>Edition</li>{% endblock %}
{% block subtitle %}Edition d'une page{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <div class="row">

            <div class="col-md-8">

                <div class="form-group form-group-lg">
                    {{ form_widget(form.name) }}
                </div>

                <small>

                    <ol class="breadcrumb">
                        {% for page in path %}
                            <li><a href="{{ path('wh_admin_cms_page_update', {'page' : page.id}) }}">{{ page.name }}</a></li>
                        {% endfor %}
                        <li><input type="text" id="wh_cmsbundle_page_slugReplace" name="wh_cmsbundle_page[slugReplace]" placeholder="modifier l’url" class="input-small" value="{{ form.slugReplace.vars.data }}"></li>
                    </ol>

                </small>

                <div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false"
                     data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">

                    <header>
                        <ul class="nav nav-tabs pull-left in">
                            <li class="active"><a data-toggle="tab" href="#folioPage"><i class="fa fa-file-o"></i> Edition de la page </a></li>
                            <li><a data-toggle="tab" href="#folioSeo"><i class="fa  fa-arrow-circle-o-up"></i> Seo </a></li>
                            <li><a data-toggle="tab" href="#folioTechnique"><i class="fa  fa-cog"></i> Techniques </a></li>
                        </ul>

                        <div class="widget-toolbar">
                            <a href="{{ path('wh_front_cms_page', {'url' : page.url}) }}" target="_blank" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> Voir la page</a>
                        </div>

                    </header>

                    <div>

                        <div class="widget-body">

                            <div class="tab-content">

                                <div class="tab-pane active" id="folioPage">

                                    <fieldset>

                                        <legend>Entête</legend>

                                        {{ form_row(form.title) }}
                                        {{ form_row(form.body) }}


                                    </fieldset>

                                    <fieldset>


                                        <legend>
                                            <a href="#" class="btn btn-success btn-xs pull-right" id="btnAddBlocForm"><i class="fa fa-plus"> Ajouter</i></a>
                                            Blocs
                                        </legend>

                                        <div data-prototype="{% filter escape %}{{ include('WHCmsBundle:Backend:Bloc/page.html.twig', { 'form': form.pageBlocs.vars.prototype }) }}{% endfilter %}" id="blocsForm">

                                            {% for bloc in form.pageBlocs %}
                                                {{ include('WHCmsBundle:Backend:Bloc/page.html.twig', { 'form': bloc }) }}
                                            {% endfor %}
                                            {% do form.pageBlocs.setRendered %}

                                        </div>


                                    </fieldset>


                                </div>

                                <div class="tab-pane" id="folioSeo">

                                    {{ include('WHCmsBundle:Backend:Seo/form.html.twig', { 'form': form.Seo }) }}

                                </div>

                                <div class="tab-pane" id="folioTechnique">

                                    <div class="row">
                                        <div class="col-md-6">{{ form_row(form.slugTechnique) }}</div>
                                        <div class="col-md-6">
                                            <label>Slug : </label>
                                            <input type="text" disabled="disabled" class="form-control" value="{{ page.slug }}">
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <div class="col-md-4">

                {{ Smart.openBox('fa-save', 'Publication') }}

                    <div class="widget-body">

                        {{ form_row(form.parent) }}
                        {{ form_row(form.Menus) }}
                        {{ form_row(form.resume) }}
                        {% block side_barre %}{% endblock %}
                        <hr/>
                        {{ form_row(form.status) }}

                        <div class="form-actions">

                            <div class="row">
                                <div class="col-md-12">

                                    {{ form_widget(form.save_and_back) }}

                                    {{ form_widget(form.save_and_stay) }}

                                </div>
                            </div>

                        </div>

                    </div>

                {{ Smart.closeBox() }}

                {{ Smart.openBox('fa-list', 'Vignette') }}

                    <div class="widget-body">

                        {{ include('WHCmsBundle:Backend:Media/image-form.html.twig', { 'form': form.thumb }) }}

                    </div>

                {{ Smart.closeBox() }}


            </div>

        </div>

    {% do form.slugReplace.setRendered %}

    {{ form_end(form) }}

{% endblock %}


{% block javascript %}

    {{ parent() }}
    {{ elfinder_tinymce_init4('tinycme') }}
    {{ tinymce_init() }}
    {{ form_javascript(form) }}
    {{ Smart.addEl('#blocsForm', '#btnAddBlocForm') }}

{% endblock %}
