<div class="padded">

    {{ form_row(form.Type) }}
    {{ form_row(form.name) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.view) }}
    {{ form_row(form.controller) }}
    {{ form_row(form.adminController) }}

</div>
